<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yang.toolbox">

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".material.MDdemoActivity" />
        <activity android:name=".recycler.RecyclerViewActivity" />
        <activity android:name=".demo.MeiTuanActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".handlerdemo.HandlerDemoActivity" />

        <service android:name=".aidlDemo.MyService">
            <intent-filter>
                <action android:name="com.yang.toolbox.aidlDemo.IMyService" />
            </intent-filter>
        </service>

        <activity android:name=".activity.PropertyAnimationActivity"></activity>
    </application>

</manifest>
